{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}FAQ{% endblock %}</h1>
{% endblock %}

{% block content %}
<p>
    Lorem ipsum malesuada turpis suscipit justo nibh fermentum euismod aliquam, pharetra nisi aliquam suspendisse mattis nunc molestie phasellus habitant aenean pellentesque euismod eros nec condimentum, tellus augue molestie metus pharetra vulputate curabitur aliquet, nullam fringilla eros integer senectus orci.
</p>
<p>
    Lorem ipsum malesuada turpis suscipit justo nibh fermentum euismod aliquam, pharetra nisi aliquam suspendisse mattis nunc molestie phasellus habitant aenean pellentesque euismod eros nec condimentum, tellus augue molestie metus pharetra vulputate curabitur aliquet, nullam fringilla eros integer senectus orci.
s</p>
{% endblock %}